@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #eab308;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.active-link {
  color: #eab308;
}

.active-link::after {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #18181b inset;
  -webkit-text-fill-color: white;
}

.pagination-link {
  @apply font-[family-name:var(--font-ui)] text-xl cursor-pointer transition-all ease-in-out duration-600 hover:text-yellow-500 hover:scale-110;
}

.slider-yellow {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #27272a; /* zinc-800 */
  border-radius: 999px;
}

/* thumb (la bolita) */
.slider-yellow::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #eab308; /* yellow-500 */
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(63 63 70); /* zinc-700 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82 82 91); /* zinc-600 */
}